{
  "DATABASE_URL": "postgresql://user:password@host:port/dbname",
  "SECRET_KEY": "your_secret_key_here",
  "DATABASE_USER": "your_database_user_here",
  "DATABASE_PASSWORD": "your_database_password_here",
  "DATABASE_NAME": "your_database_name_here"
}